/* this is currently causing Jamila's CSS to be buggy */
/* @import 'tailwindcss'; */

.transition-lab {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: white(255, 255, 255, 0.87);
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.transition-lab a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.transition-lab a:hover {
  color: #535bf2;
}

.transition-lab h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.transition-lab button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: green;
  cursor: pointer;
  transition: border-color 0.25s;
}

.transition-lab button:hover {
  border-color: #646cff;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
